.App {
  text-align: center;
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.search-wrapper{
  margin-top: 20px;
  width: 100%;
  height: 96px;
  line-height: 96px;
  text-align: center;
  background: rgba(225, 225, 225, 0.8);
}

.search {
  width: 40%;
}


.api-list {
  margin: 50px auto;
  flex-grow: 1;
  overflow-y: scroll;
}

.api-list::-webkit-scrollbar{
  display: none;
}