.item-wrapper {
    display: flex;
    flex-flow: column;
    cursor: pointer;
    margin: 5px 0;
    padding: 5px 10px;
    color: #333;
}

.item-wrapper:hover {
    box-shadow: 0 0 2px 3px #e1e1e1;
}

.item-wrapper span {
    display:   inline-block;
}
.item-wrapper .header {
    margin-bottom: 5px;
}

.header .summary{
    
}

.header .summary::before{
    display: inline-block;
    content:"接口描述：";
    color:#999;
}
.header .author {
    padding: 0;
    color: #333333;
    font-size: 14px;
    margin-left: 20px;
    text-transform: capitalize;

}

.header .project-title{
    margin-left: 20px;   
}

.header .project-title::before{
    display: inline-block;
    content:"所属模块：";
    color:#999;
}

.header .author::before{
    content:"开发者: ";
    display: inline-block;
    color: #999;
    margin-right: 10px;

}

.item-wrapper .footer {
    font-size: 14px;
}

.footer .method {
    width: 40px;
    height: 24px;
    line-height: 28px;
    text-align: center;
}

.footer .path{
    margin-left: 10px;
    font-size: 16px;
    color: #333333;
}

.footer .path.deprecated{
    text-decoration: line-through;
}

.footer .deprecated-icon{
    background: #fd5c02;
    padding-right: 10px;
    text-align: center;
    height: 24px;
    line-height: 24px;
    color: #fff;
    margin-left: 10px;
    border-radius: 3px;
    font-size: 14px;

}

.footer .deprecated-icon::before{
    content:"";
    display: inline-block;
    border:5px solid transparent;
    border-right: 8px solid #fd5c02;
    position: relative;
    right: 13px;



}

